# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# RSpec
spec/examples.txt

# SimpleCov
coverage

# Rubocop
.rubocop-http---relaxed-ruby-style-rubocop-yml

# Ignore application configuration (Figaro)
/config/application.yml

# Redis dump file
dump.rdb
