<% flash.each do |key, value| %>
  <div id="flash" class="alert alert-<%= key == "notice" ? "info" : key %> alert-dismissible animated fadeIn" role="alert">
    <%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
